body.tasty {
  @font-face {
    font-family: 'FontAwesome';
    font-weight: normal;
    font-display: auto;
    font-style: normal;
    src: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.0/webfonts/fa-regular-400.woff2')
      format('woff2');
  }
  @media screen and (min-width: 768px) {
    .product-cover {
      min-height: auto;
    }
    .time-slots-selector span:nth-child(2n) button {
      margin-right: 0;
    }
  }
  .time-slots-selector button {
    border: 2px solid #f8911c;
    border-radius: 4px;
    color: #f8911c;
    padding: 5px 60px;
  }
  .btn-outline-primary:not(:disabled):not(.disabled).active,
  .btn-outline-primary:not(:disabled):not(.disabled):active,
  .show > .btn-outline-primary.dropdown-toggle {
    background: #f8911c;
    border-color: #f8911c;
    box-shadow: none;
  }
  .btn-outline-primary:hover {
    background-color: #f8901a;
    border-color: rgba(248, 144, 26, 0.5);
  }
  .btn-outline-primary.focus,
  .btn-outline-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(248, 144, 26, 0.5) !important;
  }
  .product-cover button {
    display: none;
  }
  .occsn-app-container .form-control {
    height: 2.2em;
    border-color: rgba(0, 0, 0, 0.2);
    border-width: 2px;
    color: #606060;
    box-shadow: none;
  }
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  label,
  legend {
    color: #353c50;
  }
  .product-cover h1,
  .product-cover h3 {
    color: #fff;
  }
  .form-control:focus {
    border-color: rgba(248, 144, 28, 0.5);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 2px rgba(6248, 144, 26, 0.25);
  }
  .list-group-item {
    border: 2px solid rgba(0, 0, 0, 0.125);
    margin-top: -2px;
  }
  .sidebar .nav-pills .btn {
    background: #dfdfdf;
  }
  .sidebar .nav-pills .active .btn {
    background: #f8911c;
  }
  p.question.text-output {
    font-size: 13px;
    margin-top: -10px;
    color: #818181;
  }
  .waiver-container .bg-light,
  .alert-secondary {
    background: #f9f9f9 !important;
    color: #818181;
    border: 2px solid #dfdfdf;
  }
  .btn-secondary {
    background: #f8911c;
    border-color: #f8911c;
    box-shadow: none;
  }
  .btn-secondary:hover,
  .btn-secondary:not(:disabled):not(.disabled).active,
  .btn-secondary:not(:disabled):not(.disabled):active,
  .show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: rgba(248, 144, 28, 0.8);
    border-color: rgba(248, 144, 28, 0.8);
  }
  .bg-light.sidebar {
    background: #f9f9f9;
    color: #474D5F;
  }
  .bg-light.sidebar a {
    color: #f8911c;
  }
  .bg-light.sidebar p {
    font-weight: 100;
  }
  .btn-success.disabled,
  .btn-success:disabled {
    background: #f8901a;
    border-radius: 4px;
    border: 0;
  }
  .bg-light.sidebar .product-description, .bg-light.sidebar .product-description span {
    color: #474D5F !important;
    font-size: 1rem !important;
  }
  .bg-light.sidebar .product-description blockquote {
    background: #f9f9f9 !important;
    color: #474D5F;
    border: 2px solid #474D5F;
    padding: 1.25rem;
    border-radius: .25rem;
    font-size: 1rem !important;
  }
  .bg-light.sidebar .product-description blockquote b {
    font-weight: normal;
    color: #474D5F;
  }
  .bg-light.sidebar .product-description blockquote p:last-child {
    margin-bottom: 0;
  }
}
