body.tasty {
  .btn-primary,
  .btn-success {
    background-color: #f8911c;
    border-color: darken(#f8911c, 5);
  }

  background: transparent;
  .container {
    padding: 0;
    margin-top: 0 !important;
  }
  .row:first-child .d-flex div:last-child {
    display: none;
  }
  .btn-group {
    background: transparent !important;
  }

  .btn-group .btn-primary.active {
    background: none !important;
    color: #f8911c;
    border-color: #f8911c !important;
    border: solid 2px;
  }
  .DayPicker {
    width: 100%;
  }
  .DayPicker-wrapper {
    border: 2px solid #dfdfdf;
    border-radius: 6px;
  }
  .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
    border-radius: 6px;
    background: #f8911c;
  }
  .DayPicker:not(.DayPicker--interactionDisabled)
    .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
    background: rgba(248, 144, 26, 0.35);
    border-radius: 6px;
  }
  .DayPicker-Day--today {
    color: #f8901c;
  }
  select.form-control,
  input#search,
  input#search-calendar {
    border: solid 2px #dfdfdf !important;
  }
  select#venue.form-control {
    display: none;
  }
  .form-control:focus {
    border-color: rgba(248, 144, 28, 0.5);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 2px rgba(255, 144, 26, 0.25);
  }
  h2.sticky-top {
    font-size: 22px;
    border-bottom: 2px solid #efefef !important;
    padding-bottom: 10px !important;
    padding-top: 10px;
    text-align: left;
    color: #505050;
    font-weight: 600;
  }
  #list article.border-secondary {
    border: 1px solid #dfdfdf !important;
    border-radius: 4px;
    overflow: hidden;
    border-width: 1px !important;
  }
  #list article.mb-4 {
    padding-bottom: 20px !important;
  }
  #list article.border-secondary:hover {
    transition: all 0.5s ease;
  }
  #list article > div {
    margin-bottom: 20px !important;
  }
  #list article h4,
  #list article h5 {
    color: #505050;
    vertical-align: bottom;
    padding: 0 20px;
  }
  #list article h4 {
    margin-bottom: 15px;
  }
  @media screen and (max-width: 680px) {
    #list article h4 {
      font-size: 1.3rem;
    }
  }
  #list article h5 {
    margin-bottom: 6px;
    font-size: 16px;
  }
  #list article h5 span span {
    /*display: none;*/
  }

  #list article h5:nth-child(4) {
    display: none !important;
  }
  #list article p {
    color: #818181;
    display: none;
  }
  #list article p a {
    color: #f8901a;
  }

  #list article .badge-pill {
    border: 2px solid #f8911c;
    background: transparent;
    color: #f8911c;
    font-size: 14px;
    border-radius: 4px !important;
    margin-top: -6px;
    vertical-align: middle !important;
    display: none;
  }
  #list article .badge-pill:nth-child(n + 2) {
    display: none;
  }
  #list article .btn-primary {
    background: #f8901c !important;
    border: none;
    margin-left: 20px;
  }
  #list article .btn-secondary.disabled {
    background: #818181;
    color: #ffffff;
    border: 0;
    margin-left: 20px;
  }
  button.btn-outline-primary {
    border: 2px solid #f8901c;
    color: #f8901c;
  }
  @media screen and (max-width: 600px) {
    #list article > h5 {
      flex-direction: column-reverse !important;
    }
    #list article > h5 > span:first-child {
      /*margin-top: 10px;*/
    }
  }

  /* FULL CALENDAR */

  #calendar li.align-items-baseline {
    align-items: unset !important;
  }
  #calendar > ul.mb-1 {
    margin-bottom: 10px !important;
  }
  #calendar select.form-control {
    margin-top: 0 !important;
  }
  #calendar .btn-secondary {
    line-height: 1.3;
  }
  #calendar .fc-day-grid-event .fc-content {
    height: auto;
  }

  #calendar .fc-content .fc-time,
  #calendar .fc-content .fc-title {
    font-size: 13px;
  }
  #calendar .fc-content .fc-title {
    font-weight: bold !important;
    margin-bottom: 8px;
    color: #505050;
    font-size: 16px;
  }
  #calendar .fc-content .fc-time {
    margin-bottom: 3px;
    margin-top: 6px;
    color: #818181;
  }

  #calendar .fc-event,
  #calendar .fc-event.fc-event-future {
    background: #ffffff !important;
    border: #dfdfdf 1px solid !important;
    box-shadow: none;
    border-radius: 6px;
  }
  #calendar .fc-day-grid-event .fc-content {
    background: none !important;
    color: #505050;
    position: relative;
  }
  #calendar .fc-event:hover .fc-title {
    text-decoration: underline;
    color: #f8911c;
  }
  #calendar .sold-out .fc-title {
    overflow: visible;
    height: auto;
  }
  #calendar .sold-out .fc-sold-out {
    font-weight: bold;
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    margin-top: -10%;
    margin-left: -25%;
    vertical-align: middle;
    background: #f8911c;
    color: #ffffff;
    padding: 8px 12px;
    font-size: 16px;
    transform: rotate(-20deg);
    border-radius: 3px;
  }
  #calendar .fc-event-sold-out {
    background: #efefef !important;
    border: 0;
  }
  #calendar .fc-event-sold-out .fc-content .fc-title {
    color: #505050;
  }
}
